:root{
    --current-color: blue;
}

  .middle {
    border-block: 8px solid white;
  }

  table.colors td{
    border: 1px solid white;
    padding: 10px 10px;
    border-radius: 50%;
  }
  table.colors {
    border-collapse: separate;
    border-spacing: 20px;
    margin: auto;
  }
  #black{background-color: black;}
  #black:hover {background-color: gray;}
  #blue{background-color: blue;}
  #blue:hover{background-color: lightblue;}
  #red{background-color: red;}
  #red:hover{background-color: lightcoral;}
  #green{background-color: green;}
  #green:hover{background-color: lightgreen;}
  #yellow{background-color: yellow;}
  #yellow:hover{background-color: lightyellow;}
  #pink{background-color: pink;}
  #pink:hover{background-color: rgb(209, 174, 180);}
  #cyan{background-color: cyan;}
  #cyan:hover{background-color: lightcyan;}
  #white{background-color: white;}
  #white:hover{background-color: rgb(226, 229, 229);}

  table.pixs{
    border: 1px solid;
    border-color: black;
    margin: auto;
  }
  table.pixs td{
    border: 1px solid white;
    padding: 8px 8px;
    border-radius: 50%;
  }

  #fetch {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
  }
